.header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 25px 0;
  border-bottom: 1px solid rgb(207, 205, 205);
}
.container {
  height: 100%;
  max-width: 1180px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.block__logo {
  max-width: 250px;
  display: flex;
  gap: 8px;
  align-items: center;
}
.block__logo > img {
  background-size: cover;
  margin-top: 4px;
}
.logo > h1 {
  margin-bottom: 5px;
  display: block;
  font-size: 24px;
  color: #274f7d;
  font-weight: 700;
  transition: 0.3s ease;
}
.logo > h1:hover {
  transition: 0.3s ease;
  color: #1c395a;
}
.logo > span {
  color: #7b7b7b;
}
.button__logout {
  height: 45px;
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1px solid;
  border-radius: 15px;
  color: #274f7d;
  font-size: 17px;
  transition: 0.3s ease-in;
}
.button__logout:hover {
  background-color: #274f7d;
  transition: 0.3s ease;
  color: white;
}
.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 24px;
}
.bar {
  width: 25px;
  height: 2px;
  background-color: rgb(255, 255, 255);
}
.button__add {
  display: inline-block;
  background-color: #274f7d;
  border-radius: 15px;
  height: 45px;
  width: 160px;
  color: white;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  transition: 0.3s ease;
}
.button__add:hover {
  background-color: #1c395a;
  transition: 0.3s ease;
  color: white;
}
.button__add:hover > svg > .path {
  fill: white;
}
svg > path {
  fill: white;
}
